/apssamp.aux
/apssamp.bbl
/apssamp.bib
/apssamp.blg
/apssamp.dvi
/apssamp.log
/apssamp.pdf
/apssamp.ps
/apssamp.tex
/apssampNotes.bib
/apstemplate.aux
/apstemplate.bbl
/apstemplate.blg
/apstemplate.dvi
/apstemplate.log
/apstemplate.tex
/apstemplateNotes.bib
/fig_1-eps-converted-to.pdf
/fig_1.eps
/fig_2-eps-converted-to.pdf
/fig_2.eps
/ms.aux
/ms.blg
/ms.dvi
/ms.log
/ms.out
/ms.tex~
/msNotes.bib
/vid_1a-eps-converted-to.pdf
/vid_1a.eps
/vid_1b-eps-converted-to.pdf
/vid_1b.eps
